<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingan.one.framework.demo.host">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- common permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- SDCard权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 手机通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 蓝牙的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 后台进程锁 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- phone -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".HostMianApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>

        <!-- added for oneplug security -->
        <permission
            android:name="com.pingan.one.framework.demo.host.permission.APS_INSTALL"
            android:protectionLevel="signature" />
        <uses-permission android:name="com.pingan.one.framework.demo.host.permission.APS_INSTALL" />

        <!--插件框架-->
        <!-- 签名校验：主程序用这个类进行签名校验 -->
        <meta-data
            android:name="com.pingan.oneplug.signatureverify.class"
            android:value="com.pingan.browser.videoplayer.api.BdVideoSignatureVerifier" />

        <!-- 多进程版本宿主的控制键。键值：
             "normal"（或其他）：所有插件主进程；"allsingle"：所有插件都在独立进程；
             " mainfirst"：根据插件的定义确定，无定义使用主进程；" singlefirst"：根据插件的定义确定，无定义使用独立进程 -->
        <meta-data
            android:name="com.pingan.oneplug.processmode"
            android:value="allsingle" />

        <!-- oneplug 安装service，hostapp 必须在 manifest中声明此service，此service执行完会自动退出，运行在独立进程。 -->
        <service
            android:name="com.pingan.oneplug.install.ApkInstallerService"
            android:exported="false"
            android:process=":oneplugInstaller" />

        <!-- Oneplug基本组件的声明 -->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.ListActivityProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.PreferenceActivityProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard" />


        <activity
            android:name="com.pingan.oneplug.proxy.activity.ListActivityProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.pingan.oneplug.proxy.activity.PreferenceActivityProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <activity
            android:name="com.pingan.oneplug.proxy.activity.ListActivityProxyTranslucentExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.pingan.oneplug.proxy.activity.PreferenceActivityProxyTranslucentExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.pingan.oneplug.proxy.activity.FragmentActivityProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--<activity android:name="PreferenceActivityProxy" />-->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.TabActivityProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.DialogActivityProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityGroupProxy"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- oneplug 2.0.1新增 -->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.FragmentActivityProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity-->
        <!--android:name="PreferenceActivityProxyTranslucent"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityGroupProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.TabActivityProxyTranslucent"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.pingan.oneplug.proxy.ServiceProxy" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy1" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy2" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy3" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy4" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy5" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy6" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy7" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy8" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy9" />
        <service android:name="com.pingan.oneplug.proxy.service.ServiceProxy10" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy1" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy2" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy3" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy4" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy5" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy6" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy7" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy8" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy9" />
        <service android:name="com.pingan.oneplug.proxy.service.IntentServiceProxy10" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.RootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.pingan.oneplug.proxy.BroadcastReceiverProxy"
            android:exported="true" />

        <!-- Oneplug 3.0.9新增，额外进程组件的声明 -->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.ListActivityProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug" />


        <activity
            android:name="com.pingan.oneplug.proxy.activity.PreferenceActivityProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug" />



        <activity
            android:name="com.pingan.oneplug.proxy.activity.FragmentActivityProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug" />
        <!--<activity android:name="PreferenceActivityProxyExt"-->
        <!--android:process=":oneplug"/>-->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityGroupProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.TabActivityProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityProxyTranslucentExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.FragmentActivityProxyTranslucentExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity android:name="PreferenceActivityProxyTranslucentExt"-->
        <!--android:process=":oneplug"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
        <activity
            android:name="com.pingan.oneplug.proxy.activity.ActivityGroupProxyTranslucentExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.pingan.oneplug.proxy.activity.TabActivityProxyTranslucentExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.DialogActivityProxyExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt1"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt2"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt3"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt4"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt5"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt6"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt7"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt8"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt9"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.ServiceProxyExt10"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt1"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt2"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt3"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt4"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt5"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt6"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt7"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt8"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt9"
            android:process=":oneplug" />
        <service
            android:name="com.pingan.oneplug.proxy.service.IntentServiceProxyExt10"
            android:process=":oneplug" />

        <activity
            android:name="com.pingan.oneplug.proxy.activity.RootActivityExt"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|keyboard"
            android:process=":oneplug"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
            android:name="com.pingan.oneplug.proxy.BroadcastReceiverProxyExt"
            android:exported="true"
            android:process=":oneplug" />

    </application>
</manifest>
